<%- include("../../partials/header") %>
<main class="content">
  <div class="container-fluid p-0">

    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">Exam settings</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Exam information</h5>
          </div>
          <div class="card-body">
            <form method="POST" action="?action=update">
              <% if(alert.status === "error") { %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                  <strong>Error!</strong> <%- alert.message %>
                </div>
              </div>
              <% } %>
              <% if(alert.status === "success") { %>
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message pr-5">
                  <strong>Sucess!</strong> <%- alert.message %>
                </div>
              </div>
              <% } %>
              <!-- Personal Information -->
              <h4 class="mt-3">Exam settings</h4>
              <div class="row">
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="duration">Duration (seconds)</label>
                  <input id="duration" name="duration" type="number" class="form-control" value="<%= examSettings.duration || form.duration %>" placeholder="Type duration in seconds">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="questionLimit">Question limit</label>
                  <input id="questionLimit" name="questionLimit" type="number" class="form-control" value="<%= examSettings.questionLimit || form.questionLimit %>" placeholder="Type question Limits">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="shuffleQuestions">Shuffule Questions</label>
                  <select class="form-control" id="shuffleQuestions" name="shuffleQuestions">
                    <option value="yes" <%= (examSettings.shuffleQuestions === "yes"|| form.shuffleQuestions === "yes") ? "selected" : "" %>>Yes</option>
                    <option value="no" <%= (examSettings.shuffleQuestions === "no"|| form.shuffleQuestions === "no") ? "selected" : "" %>>No</option>
                  </select>
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="shuffleOptions">Shuffule Options</label>
                  <select class="form-control" id="shuffleOptions" name="shuffleOptions">
                    <option value="yes" <%= (examSettings.shuffleOptions === "yes"|| form.shuffleOptions === "yes") ? "selected" : "" %>>Yes</option>
                    <option value="no" <%= (examSettings.shuffleOptions === "no"|| form.shuffleOptions === "no") ? "selected" : "" %>>No</option>
                  </select>
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="markPerQuestion">Mark Per Question</label>
                  <input id="markPerQuestion" name="markPerQuestion" type="number" class="form-control" value="<%= examSettings.markPerQuestion || form.markPerQuestion %>" placeholder="Type mark per question">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="startDate">Start Date</label>
                  <input id="startDate" name="startDate" type="date" class="form-control" value="<%= examSettings.startDate || form.startDate %>" placeholder="Type duration in seconds">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="endDate">End Date</label>
                  <input id="endDate" name="endDate" type="date" class="form-control" value="<%= examSettings.endDate || form.endDate %>" placeholder="Type duration in seconds">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="startTime">Start Time</label>
                  <input id="startTime" name="startTime" type="time" class="form-control" value="<%= examSettings.startTime || form.startTime %>" placeholder="Type duration in seconds">
                </div>
                <div class="mb-2 col-md-6">
                  <label class="form-label" for="aspirantExaminationDate">Exam Date (for aspirants only)</label>
                  <input id="aspirantExaminationDate" name="aspirantExaminationDate" type="date" class="form-control" value="<%= examSettings.aspirantExaminationDate || form.aspirantExaminationDate %>" placeholder="Type duration in seconds">
                </div>
              </div>

              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>


  </div>
</main>

<script>
  const form = JSON.parse('<%- JSON.stringify(form) %>');
</script>
<script src="/js/custom.js"></script>

<%- include("../../partials/footer") %>