<%- include("../../partials/header") %>
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">All Aspirants</h1>

    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Striped Rows</h5>
          </div>
          <div class="card-body">
            <table id="example" class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Class</th>
                  <th>Exam Number</th>
                  <th>Gender</th>
                  <th>Guardian</th>
                </tr>
              </thead>
              <tbody>
                <% if(aspirants.length > 0) { %>
                <% aspirants.map(aspirant => { %>
                <tr>
                  <td><img src="<%= aspirant.profileImageUrl %>" width="32" height="32" class="rounded-circle my-n1" alt="<%= aspirant.firstName %> <%= aspirant.middleName %> <%= aspirant.lastName %>"></td>
                  <td><a href="/dashboard/aspirant/<%= aspirant.id %>"><%= aspirant.firstName %> <%= aspirant.middleName %> <%= aspirant.lastName %></a></td>
                  <td><%= aspirant.class.name %></td>
                  <td><%= aspirant.examinationNumber %></td>
                  <td><%= aspirant.gender %></td>
                  <td><%= aspirant.guardian.firstName %> <%= aspirant.guardian.middleName %> <%= aspirant.guardian.lastName %></td>
                </tr>
                <% }) %>
                <% } else { %>
                <tr>
                  <td>No aspirants available</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Class</th>
                  <th>Reg Number</th>
                  <th>Gender</th>
                  <th>Guardian</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<%- include("../../partials/footer") %>