<%- include("../../partials/header") %>
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">All Students</h1>

    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Striped Rows</h5>
          </div>
          <div class="card-body">
            <table id="example" class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Class</th>
                  <th>Reg Number</th>
                  <th>Gender</th>
                  <th>Guardian</th>
                </tr>
              </thead>
              <tbody>
                <% if(students.length > 0) { %>
                <% students.map(student => { %>
                <tr>
                  <td><img src="<%= student.profileImageUrl %>" width="32" height="32" class="rounded-circle my-n1" alt="<%= student.firstName %> <%= student.middleName %> <%= student.lastName %>"></td>
                  <td><%= student.firstName %> <%= student.middleName %> <%= student.lastName %></td>
                  <td><%= student.class.name %></td>
                  <td><%= student.registrationNumber %></td>
                  <td><%= student.gender %></td>
                  <td><%= student.guardian.firstName %> <%= student.guardian.middleName %> <%= student.guardian.lastName %></td>
                </tr>
                <% }) %>
                <% } else { %>
                <tr>
                  <td>No students available</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Full Name</th>
                  <th>Class</th>
                  <th>Reg Number</th>
                  <th>Gender</th>
                  <th>Guardian</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<%- include("../../partials/footer") %>